/* We'll eventually replace this css, but this gives us some styles for lesson 1 */

:root {
  /* Colors */
  --primary: #f0f7ff;
  --primary-light: #7bbde6;
  --accent: #546e7a;
  --grey: #445;
  --error: #f52;
  --background: #f5f5f6;
  --background-accent: #cfe5f2;
  --white: #fff;
  --border: #99a;
  /* Sizes */
  --radius: 10px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-xl: 40px;
}

/* ------------------------------------------------------------------------ */
/* Micro reset */
/* ------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ------------------------------------------------------------------------ */
/* General styles */
/* ------------------------------------------------------------------------ */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--primary);
  height: 100vh;
  overflow: hidden;
}

.container {
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000012;
  margin: 30px 244px;
  background: white;
  padding: 2em 11em;
}

h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: var(--space-md) 0;
}

h2 {
  text-align: center;
}

section,
header {
  display: flex;
  flex-direction: column;
  column-gap: 54px;
  text-align: center;
}

header {
  margin-bottom: 1em;
}

a {
  margin: 0 auto;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: var(--primary);
}

table {
  min-width: 300px;
  background-color: white;
  min-height: 300px;
}

th {
  background-color: #ddd;
  padding: 10px;
}

/* New Style */
a,
button {
  display: inline;
  height: 40px;
  box-shadow: 0px 3px 6px #2c28281c;
  border: 1px solid #046b5e;
  border-radius: 5px;
  opacity: 1;
  color: #046b5e;
}

a:hover,
button:hover {
  color: var(--primary);
  background: #046b5e;
  cursor: pointer;
}

input {
  /*   display:block;
  margin: 5px 0 10px;
  padding: 5px;*/
  display: block;
  width: 67%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  column-gap: 54px;
  margin-top: var(--space-md);
}

.button-div {
  text-align: center;
  margin-top: 21px;
}

.dashbord-logout {
  display: flex;
  justify-content: space-between;
  flex-direction: inherit;
  padding: 15px 10px;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 46%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.margin {
  margin-top: var(--space-md);
}
.dashbord-logout a {
  margin: 0;
}

.w-50 {
  width: 50%;
  margin-top: var(--space-md);
  margin: auto;
}
.d-none {
  display: none;
}
@media only screen and (max-width: 750px) {
  .container {
    margin: 24px 28px;
    padding: 0;
  }
  .form-input {
    padding: 2px 23px;
    display: block;
    margin-top: var(--space-md);
    text-align: left;
  }
  input {
    width: 100%;
    margin-top: 9px;
  }
  h1 {
    padding-top: var(--space-xl);
  }
  button {
    width: 85%;
  }
}
